@import "tailwindcss";

:root {
  --background: #f9fafb; /* gray-50 */
  --foreground: #111827; /* gray-900 */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
}
